.grid {
    display: grid;
    justify-content: center;
    /* grid-template-rows: repeat(${numRows1}, 1fr);
    grid-template-columns: repeat(${numCols}, 1fr); */
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.cell {
        /* width: 30px; */
        /* height: 30px; */
        /* border: 0.4px solid rgb(107, 53, 53); */
        /* margin: 0.5px; */
        /* cursor: pointer; */
        /* grid-gap: 2px; */
        /* border-radius: 4px; */
}

.active {
    background-color: rgb(26, 189, 26);
}

.nonActive {
    background-color: rgb(198, 195, 62);
}

.relativePositionP {
    cursor: pointer;
    font-style: italic;
    color: white;
    font-size: 15%;
    justify-content: center;
    display: flex;

}